:root {
  /* Colors */
  --primary-light: hsl(148, 38%, 91%);
  --primary-medium: hsl(169, 82%, 27%);
  --primary-red: hsl(0, 66%, 54%);
  --neutrals-white: hsl(0, 0%, 100%);
  --neutrals-grey-md: hsl(186, 15%, 59%);
  --neutrals-grey-dark: hsl(187, 24%, 22%);
  /* Font */
  --font-family: "Karla", sans-serif;
  --font-size-labels: 16px;
  --font-weight-light: 400;
  --font-weight-normal: 700;
  /* SPACING */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 5rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-light);
  overflow-x: hidden;
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  color: var(--neutrals-grey-dark);
  letter-spacing: 0.01rem;
}

main {
  width: 100%;
  padding: calc(var(--spacing-md) * 3) 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0 0 var(--spacing-sm) 0;
}

h3 {
  margin: 0;
  padding: 0 0 0 var(--spacing-xs);
}

label {
  display: block;
  padding: var(--spacing-xs) 0;
  color: var(--primary-dark);
  font-size: 15px;
}

label > span {
  color: var(--primary-medium);
}

div {
  padding: 0 0 var(--spacing-xs) 0;
}

.btn-container {
  padding: var(--spacing-md) 0 0 0;
}

button {
  width: 100%;
  padding: var(--spacing-sm) 0;
  border-radius: 0.5rem;
  border: none;
  color: var(--neutrals-white);
  background-color: var(--primary-medium);
  letter-spacing: 0.05rem;
}

button:hover {
  background-color: var(--neutrals-grey-dark);
  cursor: pointer;
}

form {
  text-align: left;
  background-color: var(--neutrals-white);
  width: 600px;
  height: 80%;
  padding: var(--spacing-md);
  border-radius: 1rem;
}

input[type="text"] {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid var(--neutrals-grey-md);
  padding: var(--spacing-xs) calc(var(--spacing-xs) * 2);
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  font-size: 16px;
  letter-spacing: 0.01rem;
  color: var(--neutrals-grey-dark);
}

input[type="text"]:hover {
  border: 1.5px solid var(--primary-medium);
  cursor: pointer;
}

#message {
  height: 7rem;
  width: 100%;
  border: 0.5px solid var(--neutrals-grey-md);
  border-radius: 0.5rem;
  padding: calc(var(--spacing-xs) * 2);
  resize: none;
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  font-size: 16px;
  letter-spacing: 0.01rem;
  color: var(--neutrals-grey-dark);
}

#message:hover {
  border: 1.5px solid var(--primary-medium);
  cursor: pointer;
}

#message:focus,
input[type="text"]:focus {
  outline: none;
  border: 1px solid var(--primary-medium);
}

/* #message,
input[type="text"] {
  border: 1.5px solid var(--primary-red);
} */
/* when error-messages are active */

.checkbox {
  display: flex;
  padding: var(--spacing-sm) 0 0 0;
  gap: var(--spacing-xs);
  accent-color: var(--primary-medium);
}

.flex-row {
  display: flex;
  width: 100%;
  gap: var(--spacing-xs);
}

.flex-row > div {
  width: 50%;
}

.radio-container {
  display: flex;
  gap: var(--spacing-xs);
  justify-content: space-between;
  width: 100%;
}

.radio-container .radio-button {
  display: flex;
  gap: var(--spacing-xs);
  width: 50%;
  border: 1px solid var(--neutrals-grey-md);
  border-radius: 0.5rem;
  padding: var(--spacing-xs) calc(var(--spacing-xs) * 2);
}

.radio-container label,
.radio-container,
#radio1,
#radio2:hover {
  cursor: pointer;
}

#radio1,
#radio2 {
  accent-color: var(--primary-medium);
}

.error-message {
  display: none;
}

/* .error-message {
  display: block;
  color: var(--primary-red);
  font-size: 14px;
  padding: 0;
  margin-top: var(--spacing-sm);
} */

.alert-box {
  /* display: block; */
  display: none;
  position: fixed;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--neutrals-grey-dark);
  color: var(--neutrals-white);
  width: 35%;
  padding: var(--spacing-sm);
  border-radius: 0.7rem;
}

.alert-header {
  margin: 0;
  padding: 0;
  font-size: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.alert-body {
  font-size: 11.5px;
  color: var(--neutrals-white);
  display: flex;
  justify-content: left;
  align-items: center;
}

.alert-body > p {
  padding: var(--spacing-xs) 0 0 0;
  margin: 0;
  color: var(--neutrals-grey-md);
}
